@font-face {
    font-family: "coluna";
    src: url("FontStyle/Coluna.otf"),url("FontStyle/Coluna_Rounded.otf");
}

body{
    background-color: black;
    color:white;  
    font-family: Arial, Helvetica, sans-serif;  
}
ul{
position:relative;

}
header{
    background-image: url(image/laCasaDePapel.jpg);
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

#barRight{
    position: absolute;
    right:50px;
    margin: 0px;
    
}
#barLeft{
    margin: 0px 20px;
}

#barRight > li, #barLeft > li{
    display:inline-block;
    list-style:none;
    margin: 0px 10px;
    align-self: center;
    vertical-align: middle;
}

#barRight > li:hover, #barLeft > li:hover{
    transform: scale(1.1);
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.8);
    height: 55px;
    left:0;
    top:0;
    right:0;
    position:fixed;   
    z-index: 999;  
}

#presentation{
    margin:0;
    height:500px;
    position:relative;
}
h6{
    margin: 150px 0 0 50px;
    font-size: 13px;
}
#presentation >h1{
    font-family: "coluna";
    font-size: 90px;
    margin-left: 50px;
    margin-top: 0;
    
}
#presentation >h1 > mark {
    color:#000;
    background-color: #F30037;
    font-size: 50px;
    vertical-align: middle;    
}

#btnPresentation{
display:flex;
flex-direction: row;
 position:absolute;
 top:250px;
 z-index: 3;
}
li{
    list-style: none;
}

.lecture{
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 2px;
    width:130px;
    height:40px;
    font-weight: bold;
    margin-right: 10px;
}
.lecture > i{
    margin-right: 10px;
}
.lecture:hover{
    background-color: rgb(180, 179, 179);;
}

.plusDInfo{
    background-color: rgba(223, 223, 223, 0.2);
    color:rgb(365, 365, 365);
    border-radius: 2px;
    border:none;
    width:130px;
    height:40px;   
    font-weight: bold;  
}
.plusDInfo > img{
    vertical-align: middle; 
    width:25px;
    margin-right:10px;   
}
.plusDInfo:hover{
    background-color: rgba(223, 223, 223, 0.5);
}

main{
    position:absolute;
    top:600px;
    right:0;
    left:0;
    box-shadow: 0px -57px 30px 14px rgba(0,0,0,0.92);
    z-index:100;
}

.list_film{
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-30px;
}
.list_film > h2{
    margin-left: 50px;    
    margin:0 50px;
}
.list_film > ul{
    display:flex;
    background-color: rgba(0, 0, 0, 0);
}
.list_film > ul > li > img{
    border-radius:4px;
}
.list_film > ul > li{
    margin: 5px;
    transition: all 200ms linear;    
}
.list_film > ul > li:hover{
    transform: scale(1.2);
}
footer{
    position:absolute;
    top:1650px;
}
#social{
 display:flex;
 flex-direction:row;
}
#social > li{
    margin-right: 50px;
    width:5px;
}
#social >li:hover{
    transform:scale(1.1);
}
#footerList{
    display:flex;
    flex-direction: row;
    line-height: 50px;
    color:rgb(180, 179, 179);
    font-size: 11px;
    letter-spacing:0.5px;
}
#footerList > ul{
    margin-right: 35px;
}
#footerList > ul > li:hover{
    text-decoration: underline;
}

.Service{
    background-color:#000;
    border: 2px solid rgb(180, 179, 179);
    border-radius: 4px;
    color:rgb(180, 179, 179);
    height: 35px;
    margin-left: 50px;
    margin-bottom: 25px;
}



    
